/.angular/cache
# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore
www/

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*
.angular/
.firebase/
.idea/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
coverage/
dist/
node_modules/
tmp/
vs/
temp/
hooks/
platforms/
plugins/
plugins/android.json
plugins/ios.json
$RECYCLE.BIN/
.vs/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
/.vs/web/config/applicationhost.config
/.vs/web/FileContentIndex/2f89287d-5a10-46de-9827-e6dbf3b32476.vsidx
/.vs/web/FileContentIndex/03737103-ca20-428c-aefe-b1c9fa211ec5.vsidx
/.vs/web/FileContentIndex/039e23c8-ad97-4ae8-baa0-6fe922aba211.vsidx
/.vs/web/FileContentIndex/c69e2f63-8a27-487f-b644-5915ab0506ad.vsidx
/.vs/web/FileContentIndex/43531c7c-ff5f-4c07-83bb-6ab308ad49e9.vsidx
/.vs/web/FileContentIndex/read.lock
/.vs/slnx.sqlite
